<h1>DragonBall Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
      <h3>Agregar</h3>
      <input type="text" placeholder="nombre" class="form-control">
      <input type="number" placeholder="poder" class="form-control mt-2">
    <button class="mt-2 btn btn-primary">
      Agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado</h3>
    <ul>
      @for (item of characters(); track item.id; let idx = $index) {
        @if (item.power > 500) {
        <li>
          <span>{{idx +1}} - {{ item.name }}</span>
          <strong [class.text-danger]="item.power > 9000"
            [class.text-primary]="item.power < 9000">
            <!--[ngClass]="powerClasses()"-->
             ({{ item.power }})</strong>
        </li>
        } @else {
          <span>{{idx +1}} - </span>
          <strong>No powerful character</strong>
        }

      }
    </ul>
  </div>
</section>
